:root {
  --ui-primary: #2364D2;
  --ui-error: #bf303e;
  --ui-focus: #a1dfff;
  --ui-border: #ced6e0;
  --ui-background: #FFF;
  --ui-text: #353535;

  --ui-dark-primary: #2364D2;
  --ui-dark-error: #bf303e;
  --ui-dark-focus: #a1dfff;
  --ui-dark-border: #ced6e0;
  --ui-dark-background: #2d3242;
  --ui-dark-text: #FFF;
}

.App {
  text-align: center;
  padding: 50px;
}
